* {
    box-sizing: border-box;
}

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#alert_items {
    display: none;
    float: right;
    padding: 1rem 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    /*z-index: -1;*/
    opacity: 1;
    background-color: red;
    transition: opacity 0.6s;
}

#alert_info {
    display: none;

}

#alert_info span, #alert_info p {
    display: inline-block;
}

.close_button {
    margin-left: 15px;
    cursor: pointer;
}


#myUL {
    list-style-type: none;
    padding: 12px;
    text-align: center;
}

#myUL li {
    display: inline-block;
    margin: 2rem;
    text-align: center;
    overflow: hidden;
    align-content: center;
}

#myUL li a {
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 12px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-radius: 12px;
    min-width: 100%;
    box-shadow: 4px 4px #D7E5F0;
    margin-bottom: 12px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

#myUL li button {
    display: block;
    padding: 12px 7px;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}
#myUL li a span {
    display: block;
    line-height: inherit;
    font-size: 2rem;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

@media (min-width: 500px){
    #myUL li a {
        min-width: 15rem;
        min-height: 20rem;
        text-align: center;
    }
    #myUL li a img {
        width: 30rem;
        height: 20rem;
    }
}

@media (max-width: 499px) {
    body, #myUL li a , #myUl li {
        margin: 0;
    }
}

/*// alert_info
    new_alert_info.style.float = "right";
    new_alert_info.style.padding = "1rem 2rem";
    new_alert_info.style.position = "fixed";
    new_alert_info.style.right = "2";
    new_alert_info.style.opacity = "1";
    new_alert_info.style.transition = "opacity 0.6s";
    new_alert_info.style.background = "palegoldenrod";

    // alert_info p
    new_alert_info.children[0].style.display = "inline-block";

    // alert_info p strong
    new_alert_info.children[0].children[0].textContent = text;*/